.ui-widget,.ui-widget .ui-widget {
    font-size: 90%;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important
}

.adList table thead tr {
    display: none;
}

.ui-datatable.adList thead th,
.ui-datatable.adList tbody,
.ui-datatable.adList tbody tr,
.ui-datatable.adList tbody td {
    border-style: none;
}

.highlight {
    background: #E3FFED  !important ;
}

.tableNoPadding .ui-panelgrid-cell{
    padding: 0 !important;
}

.fixCheckboxLable {
    margin-left: 10px;
    width: 100%
}

.fixCheckboxLable label {
    width: 90px;
}

label.error {
    background: #f2dede 50% 50% repeat-x;
    color: #b94a48;
}
input.error, select.error, textarea.error {
    background-color: #fee;
}

.ui-inputswitch-off{
    background-color: #b94a48;
}

.ui-inputswitch-on{
    background-color: lightblue;
}

/* commons cs classes*/

.width_98_pc{
    width: 98%;
}

.width_99_pc{
    width: 99%;
}

.width_100_pc{
    width: 100%;
}

.width_20{
    width: 20px;
}

.width_175{
    width: 175px;
}


.height_20{
    height: 20px;
}

.height_30{
    height: 30px;
}

.margin_top_5{
    margin-top: 5px;
}

.margin_top_5{
    margin-top: 5px;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_15{
    margin-top: 15px;
}

.margin_top_20{
    margin-top: 20px;
}

.margin_left_5{
    margin-left: 5px;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_right_5{
    margin-right: 5px;
}

.margin_right_10{
    margin-right: 10px;
}

.margin_right_15{
    margin-right: 15px;
}

.margin_bottom_10{
    margin-bottom: 10px;
}

.margin_bottom_15{
    margin-bottom: 15px;
}


.textAlign_right{
    text-align: right;
}

.valign_middle{
    vertical-align: middle;
}

.resize_none{
    resize: none;
}

.displayInlineBlock{
    display: inline-block;
}

.fontSize_16{
    font-size: 16px;
}

.noPadding{
    padding: 0 !important;
}

.padding_4{
    padding: 4px !important;
}